<h3><a href="/<%= obj.downcase.pluralize %>">the best <%= obj.downcase.pluralize %></a></h3>

<ol>
  <% obj.constantize.order('votes DESC').each do |thing| %>

    <li>
      <div><%= link_to "#{thing.title}", "/#{thing.type.downcase.pluralize}/#{thing.id}" %><div>

      <div class="votes">
        <%= thing.votes %> votes
        <span class="link-btn"><%= button_to "Upvote", upvote_path(thing.id), {method: :patch} %></span>
      </div>
    </li> <!--this would be an awesome place for some helpers!-->

  <% end %>
</ol>

<span class="link-btn"><%= link_to "Create new #{obj.downcase}", "/#{obj.downcase.pluralize}/new"  %></span>
