<!DOCTYPE html>
<html>
<head>
  <title>Rank All the <%= params[:type]? @type.pluralize : "Things" %></title>
</head>

<body>
  <img src="x-all-the-things-template.png" />
  <div class="container">
    <div class="row">
      <!-- possibly I could do this better now that I have self.types defined for each model? -->
      <% current_type = @medium ? @medium.type : params[:type] %>
      <% if current_type %>
        <div class="col-sm-12">
          <%= render 'shared/media_list', obj: current_type %>
          <span class="link-btn"><%= link_to "See all media", root_path %></span>
        </div>

      <% else %>
        <% @media.types.each do |type| %>
          <div class="col-sm-4">
            <%= render 'shared/media_list', obj: type %>
            <!-- change this to a media table partial -->
            <% types = type.downcase.pluralize %>
            <span class="link-btn"><%= link_to "See all #{types}", "/#{types}" %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
