<!DOCTYPE html>
<html>
<head>
  <title>Rank All the <%= params[:type]? @type.pluralize : "Things" %></title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <% if @medium %>
        <div class="col-sm-12">
          <%= render 'shared/media_list', obj: @medium.type %>
          <%= link_to "See all media", root_path %>
        </div>

      <% else %>
        <% @media.types.each do |type| %>
          <div class="col-sm-4">
            <%= render 'shared/media_list', obj: type %>
            <!-- change this to a media table partial -->
            <% types = type.downcase.pluralize %>
            <%= link_to "See all #{types}", "/#{types}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
