<!DOCTYPE html>
<html>
<head>
  <title><%= @medium.title %></title>
</head>

<body>
  <h1 style="display:inline"><%= @medium.title %>    </h1>
  <%= @attribution %> <%= @medium.author %>
  <p><%= @medium.description %></p>
</body>
</html>
